body{
     
    padding: 0;
    margin: auto;
    background-color: blue;
    display: inline;
    
   
}
#ini_centro{   

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
        
} 
select{
    background-color: blue;
    color: rgb(255, 255, 255);
    font-size: 20px ;
    border: none;
    cursor:pointer;

}
#ini_quadro{
    width: 20px;
    height: 20px;
    background-color: red;
    color: #e5f04c;
    text-align: center;
    
}

/* parte 2*/

#quadra_nome_aluno{
    height: 400px;
    text-align: center;
    border: 6px solid antiquewhite;
    color: #fafaf6;
    position: relative;
    font-size: 40px;
    
}
.contener{
 width: 100px;
 height: 1000px;
 position: absolute;
 bottom: 0;
 right: 0;
 left: 0;
 top: 0;
 margin: auto;
}

/* parte 3*/

#informa{   

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    
    
} 
#cronometro{
    background-color:#f81919;
    width: 300px;
    height: 100px;
    border-radius: 6px;

}
h2{
    text-align: center;
    font-size: 43px;
}
#koryo{         
    background-color:#55f32d;
    width: 300px;
    height: 100px;
    position: relative;
    border-radius: 5px;
}
#label_koryo{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #fafaf6;
}
#pyongwon{
    background-color:#961175;
    width: 300px;
    height: 100px;
    position: relative;
    border-radius: 5px;
}
#label_pyongwon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #fafaf6;
}

/* parte 4*/
  #div_fim{
   
   text-align: center;
  }

  button{
    width: 95px;
    height: 32px;
  }


#KPOOMSAE {
  text-align: center;  
  margin-top: 130px;
  font-size: 20px;
  color: #e5f04c;
}

#pPOOMSAE{
  text-align: center;  
  margin-top: 130px;
  font-size: 20px;
  color: #e5f04c;
}